* text=auto
*.cs     text eol=lf diff=csharp
*.xaml   text
*.config text
*.c      text
*.h      text
*.cpp    text
*.hpp    text
*.sln     text
*.csproj  text
*.vcxproj text
*.md       text
*.tt       text
*.sh       text
*.ps1      text
*.cmd      text
*.bat      text
*.markdown text
*.msbuild  text
*.png    binary
*.jpg    binary
*.gif    binary
*.ico    binary
*.rc     binary
*.pfx    binary
*.snk    binary
*.dll    binary
*.exe    binary
*.lib    binary
*.exp    binary
*.pdb    binary
*.sdf    binary
*.7z     binary
SolutionInfo.cs text eol=crlf diff=csharp
*.zip filter=lfs diff=lfs merge=lfs -text
