---
name: "Conventional Commits"
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
jobs:
  validate:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            chore
            ci
            docs
            enhancement
            feat
            fix
            revert
            test
          requireScope: false
          subjectPattern: '^[A-Z].+$'
          subjectPatternError: |
            Subject "{subject}" does not start with an uppercase letter
          validateSingleCommit: true
