name: Release

on:
  push:
    tags:        
      - '*'

jobs:
  release:
    name: Release NuGeT package
    runs-on: ubuntu-latest
    steps:
      - name: Add mask for NUGET_API_KEY
        run: |
          echo "::add-mask::${{ secrets.NUGET_API_KEY }}" 

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          lfs: true
          
      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
        env:
          DOTNET_NOLOGO: true
          DOTNET_CLI_TELEMETRY_OPTOUT: true
        with:
          dotnet-version: |
            2.0.x
            2.1.x
            8.0.x
      
      - name: Setup Buf
        uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          setup_only: true
          token: ${{ secrets.BUF_TOKEN }}

      - name: Run Clean
        uses: cake-build/cake-action@d218f1133bb74a1df0b08c89cfd8fc100c09e1a0 # v3
        with:
          cake-bootstrap: true
          target: Clean

      - name: Run Generate
        uses: cake-build/cake-action@d218f1133bb74a1df0b08c89cfd8fc100c09e1a0 # v3
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
        with:
          cake-bootstrap: true
          target: Generate

      - name: Build NuGeT package
        run: dotnet pack -c Release /p:Version=${{ github.ref_name }} src/Sdk/sdk.csproj

      - name: Check repo status
        run: |-
          REPO_STATUS="$(git status --porcelain)"
          if [[ ! -z $REPO_STATUS ]]; then
            echo "::error::Uncommitted changes detected"
            echo "$REPO_STATUS"
            exit 1
          fi

      - name: Publish generated NuGeT package
        run: dotnet nuget push src/Sdk/bin/Release/Cerbos.Sdk.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate --no-symbols
